/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========= ATous Styles ========= */

/* ===== Movil ====== */


body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
h1{
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
}
h3{
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
}
h4{
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
}
p{
    font-size: 100%;
    line-height: 1.5;
}

/* HEADER*/


header nav {
        width: 100%;
        background: #222;   
        margin: 0 auto;        
}
header .menu a{
  color: #c78c06;
  text-decoration: none;  
}
 
.item{  
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 1px;        
        color:black;         
        margin: 0 auto;      
 }
 .menu{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
 }
 .menu li a{
  display:block;
  padding: 10px; 
  
 }
 .logo{
  order:1;
  background: #c78c06;
  padding-right: 640px;
 }
 .item.button{
  order:3;
  
 }
 .item.button form{
   font-family: Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   width: 500px;
   
 }
 .item.button button {
  background: #222;
  color: #c78c06;
  border: 1px solid #c78c06;
 }
 .item{
  order:2;
  width:100%;
  text-align: center; 
 }
 header .menu li:nth-child(2) {
    background: #c78c06;
    color: pink;
 }
 header nav form input{
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    width: 600px;    
 }
 .container button{
    background: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
 }
 /****INTRO*****/

 header .intro{
    background-image: url(../img/main-banner.jpg);
    background-size: 750px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;    
    align-items: center;
 }
 header .intro .transbox {
    background-color: rgba(0, 0, 0, 0.575); /* Opacity given with rgba*/
    padding-right: 30px;
    height: 420px; 
    color: white;
    align-items: center;
 }
 header .intro .texttransbox {
    width: 700px;                
    padding-left: 10px;
    padding-top: 45px;
 }

 header .intro .texttransbox p {
padding-top: 15px;
padding-bottom: 10px;
 }

 header .connectb {
    background: #c78c06;
    color: #222;
    font-size: 21px;
    
    border: none;
    width: 250px;
    height: 80px;
 }

 /* MAIN*/
 /**************************About**************************/

 main .about{
    background: #ffe6ac;
 }

 main .about .containerabout{
    width: 720px;    
    padding: 10px; 
    padding-bottom: 20px;   
 }

 main .about .containerabout img {
    max-width: 100%;
    height: auto;
 } 

 main .about .containerabout h2{
    padding-top: 30px;
    padding-bottom: 30px;
 }
 /**************************Services**************************/
 main .services {
    padding:10px;
 }

 main .services .container .grid-container{
    align-items: center;
    display: grid;
    grid-gap: 10px;
    background-color: white;
 }
 main .grid-item1{
      padding-top:35px;
      padding-bottom: 25px;        
 }
 main .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6{
      background: #ffe6ac; 
      padding-bottom: 10px;     
 }
    
 main .grid-container img {
    width: 720px;    
    
 }
 
 main .grid-container h3{    
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 10px;
 }

 main .grid-container p, .servicesb{   
    padding-left: 10px; 
    padding-bottom: 10px;
 }
 
 main .grid-container button{    
    background:#222;
    color: white;
    font-size: 21px;    
    border: none;    
    width: 200px;
    height: 80px;    
 }
 /**************************Vision**************************/
 main .vision{
    background-image: url(../img/vision.jpg);
    background-size: 100%;    
    background-repeat: no-repeat;
    background-position: center;
    
    padding: 30px 10px;    
 }
 main .vision .vision1{
    width: 720px;
 }
 main .vision .vision1 p {
    color: white;
    padding-top: 20px;
 }

 main .vision .vision1 h3 {
    color: white;
    padding-top: 20px;
 }

 main .vision button{
    background:rgba(34, 34, 34, 0.74);
    font-size: 21px;    
    color: white;
    border: 1px solid gray;    
    width: 200px;
    height: 80px;  
    text-align: center;
 }

 /**************************Team**************************/ 

 main .team {
    margin:10px;
 }

 main .team h2{
    padding-top: 20px;
    padding-bottom: 20px;
 }

 main .team .grid-container {    
    display: grid;       
 }

 main .grid-row,.grid-row--reverse{
    background: #ffe6ac; 
    padding-bottom: 10px; 
 }
 main .grid-row h4{    
    padding-bottom: 5px;
    border-bottom: 2px solid #c78c06;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }
 main .grid-row--reverse h4{    
    padding-bottom: 5px;
    border-bottom: 2px solid #c78c06;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }

 /**************************Contact**************************/

 main .contact .grid-itemmessage form {
    padding: 5px 10px 5px 15px; 
    line-height: 21px;    
    display: table
 }

 main .contact .grid-itemmessage form input[type=text] {
    width: 720px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

 main .contact .grid-itemmessage form textarea[id="message"] {
    width: 720px;
    height: 130px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
 }

 main .contact .grid-itemmessage form input[type=email] {
    width: 720px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
 }

 main .contact .grid-itemmessage form button {
    background: #222;
    color: #c78c06;
    width: 60px;
    height: 40px;  
    text-align: center;
 }

 /**************************Hours**************************/
 main .contact .grid-container h2{
    padding-left: 10px;    
 }
 main .contact .grid-itemhours h3{
    padding-left: 0px;    
 }
 main .contact .grid-itemhours {
    padding-left: 15px;        
 }

 main .contact .grid-itemhours table {
    width: 720px;
    height: 40px;
 }

 main .contact .grid-itemhours table th{
    border: 1px solid black;
    background: #ffe6ac;
    padding-top: 20px;   
    padding-bottom: 20px; 
    padding-left: 10px;
    
 }
 
 main .contact .grid-itemhours table td{
    border: 1px solid black;    
    padding-top: 20px;
    padding-left: 10px;
    height: 35px;
 }
 
 /**************************Location**************************/    
    

 main .contact .grid-itemlocation iframe{
    padding-left: 15px;
    padding-bottom: 15px;
    width: 720px;
 }
 /**************************FOOTER**************************/  
 footer {
    background: #222;
    color:#c78c06;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 1440px;
 }


/* ===== Desktop ====== */
@media screen and (min-width: 760px) {

    em{
        font-style: italic;
        
    }
    h1{
        font-size: 81px;        
        font-weight: bold;
    }
    h2{
        font-size: 54px;
        line-height: 1;
        font-weight: bold;
    }
    h3{
        font-size: 36px;
        line-height: 1;
        font-weight: bold;
    }
    h4{
        font-size: 17px;
        line-height: 1;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        line-height: 1.5;
    }
    body{
        margin: 0 auto;
    }
    /***************** HEADER******************/
    header nav {
    min-width: 760px;  
    width: 1400px;   
    padding-bottom: 30px;
    padding-top: 30px;
    
    }
    header nav .menu {
        padding: 0px 1px ;    
        
        
    }
    .item{
        width:unset;
        
     }
     header .logo{            
       background: none; 
       margin: 0; padding: 0;                  
     }
     header .menu li:nth-child(2) {
        background:none;        
    }
    
    /******************************INTRO*******************************/
    header{
        width: 1400px;
    }
    header .intro .transbox {
        width: 1200px;
        height: 500px;    
        padding: 0;  margin: 0;   
    }
    header .intro .texttransbox {        
        padding-left: 15px;
        padding-top: 70px;
    }
    header .intro .texttransbox h1 {
        width: 920px;
    }    
    header .intro .texttransbox p {
        width: 1112px;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    
    header .connectb {
        margin-top: 5px;       
    }
    /* MAIN*/
    main {
        width: 1400px;
        margin: 0 auto;        
        justify-content: center;
        align-items: center;
    }
    /**************************About**************************/
    main .about .containerabout{
        width: 1200px;        
        display: grid;      
        margin: 0 auto;           
    }
    main .about .containerabout img{
        width: 575px;
        height: 288px;
        margin-left: 15px;
    }
    .area1{
        grid-column-start: 1;              
    }
    .area2{
        grid-column-start: 2;
        margin-left: 30px;
    }
    /**************************Our services**************************/
    .grid-item1 {
        margin-left: 15px;
    }
    .grid-item2 { grid-area: digital; }
    .grid-item3 { grid-area: marketing; }
    .grid-item4 { grid-area: video; }
    .grid-item5 { grid-area: web; }
    .grid-item6 { grid-area: print; }
    
    main .grid-container { 
      width: 1170px;  
      margin-left: 15px;
      display: grid;
      grid-template-columns: repeat(6,1fr);      
      grid-template-areas:      
      "digital digital digital marketing marketing marketing"
      "video video web web print print";
      
    }

    main .services .container img {
        width: 100%;
    }
    /**************************Vision**************************/

    main .vision {
        width: 1440px;
        margin: 0; padding: 0;
     }
    
    .vision1 .container{
        width: 1200px;
        margin-left: 105px; padding: 0;
        justify-content: center;
    }
    main .vision button{        
    width: 200px;
    height: 80px;  
    }
    /**************************Our Team**************************/
    

    .team h2{
        margin-left: 105px;
    }
    main .team .grid-container {
        max-width: 1170px;    
        margin-left: 105px;    
        display: grid;     
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);      
        grid-template-areas:      
      "john"
      "bob";    
    }

    .grid-row{grid-area: john;}
    .grid-row--reverse {grid-area: bob;}

    main .team .grid-container .grid-row {
        width: 1170px;  
        display: flex;   
        justify-content: center;
        
        padding-bottom: 0;   
        
    }
    main .team .grid-container .grid-row--reverse {
        width: 1170px;  
        display: flex;     
        justify-content: center; 
        flex-direction: row-reverse;
        padding-bottom: 0;
    }
    .grid-container .grid-item--image{
        width: 100%;
    }
    /**************************Contact Us**************************/     
    .contact h2{
        margin-left: 105px;
    } 
    main .contact .grid-container {
        max-width: 1170px;    
        margin-left: 105px;    
        display: grid;     
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;      
        grid-template-areas:      
      "message location"
      "hours hours";    
    }



    .grid-itemmessage{grid-area: message;}
    .grid-itemlocation {grid-area: location;}
    .grid-itemhours {grid-area: hours;}
    


    main .contact .grid-itemmessage form input[type=text] {
        width: 575px;           
    }
    
    main .contact .grid-itemmessage form textarea[id="message"] {
        width: 575px;
        height: 130px;      
    }
    
    main .contact .grid-itemmessage form input[type=email] {
        width: 575px;        
    }
    .grid-itemlocation iframe{
        max-width: 565px ;
    }
    main .contact .grid-itemhours table {
        width: 1165px;
        margin-bottom: 15px;        
    }
    main .contact .grid-itemhours{
        margin: 0; padding: 0;
    }
    footer p{        
        margin-left: 105px;
    } 
    .container, .grid-conainer {
        min-width:760px;
        max-width:1200px;    
        
    }

    
}
@media screen and (min-width: 1200px) {
    header nav{
        
        width: 100%;
        height: 100px ;
        background: #222;
       
    }
    .grid-conainer .container{
        width: 1200px;    
        padding: 0;    margin: 0;
    }
    header .intro{
        max-width: 1400px;
        height: 600px;        
        background-position: center;        
        justify-content: center;
        align-items: center;
    }
    main .about{
        width: 1440px;
        padding: 0;
        margin: 0;
     }
    footer p{        
        margin-left: 190px;
    } 
}